{% extends "index.html"%}

{% block contenido %}

<h1 class="text-center">Formulario de Registro e Inicio de sesión</h1>
<hr class="border border-secondary border-2 opacity-50">

<!-- LAS VALIDACIONES SE CONFIGURAN EN LAS CLASES, EN ESTE CASO EN CLASE_USUARIOS-->
<div>
    <div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <p class="alert alert-danger text-center">
            {{message}}
            {% endfor %}
            {% endif %}
            {% endwith %}
    </div>
</div>

<div>
    <div class="row">
        <div class="col">
            <h4>Crea tu usuario</h4>
                    <!--REVISA ACTION ACA U MAS ABAJO. COLOCAR MISMA RUTA O CAMBIARLA-->
            <form class="row g-3" action='/crear' method='post'>
                <div class="col-md-9">
                    <label for='name' class="form-label">Nombre</label>
                    <input type='text' class="form-control" name='nombre' required>
                </div>
                <div class="col-md-9">
                    <label for='name' class="form-label">Apellido</label>
                    <input type='text' class="form-control" name='apellido' required>
                </div>
                <div class="col-md-9">
                    <label for='name' class="form-label">Fecha de Nacimiento</label>
                    <input type='date' class="form-control" name='fnacimiento'>
                </div>
                <div class="col-md-9">
                    <label for='name' class="form-label">Email</label>
                    <input type='text' class="form-control" name='email' placeholder="nombre@ejemplo.com" required>
                </div>

                <div class="col-md-9">
                    <label for='name' class="form-label">Contraseña</label>
                    <input type='password' class="form-control" name='contraseña'
                        placeholder="Min 6 caracteres, numero, mayuscula y caracter especial" required>
                </div>
                <div class="col-md-9">
                    <label for='name' class="form-label">Confirmar contraseña</label>
                    <input type='password' class="form-control" name='confirmar' required>
                </div>
                <div>
                    <input type="checkbox" name="acepto" required>
                    <label for="acepto">He leído y acepto los términos y condiciones de uso</label>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md">
                    <button type="submit" class="btn btn-primary me-md-2">Registrarse</button>
                </div>
            </form>
        </div>

        <!--EMPIEZA LA PARTE DE INICIO DE SESION -->

        <div class="col">
            <h4>Ingresa tu usuario</h4>
                                    <!--REVISA ACTION. COLOCAR MISMA RUTA O CAMBIARLA-->
            <form class="row g-3" action='/ingresar' method='post'>
                <div class="col-md-9">
                    <label for='email' class="form-label">Email</label>
                    <input type='text' class="form-control" name='email' required>
                </div>
                <div class="col-md-9">
                    <label for='contraseña' class="form-label">Contraseña</label>
                    <input type='password' class="form-control" name='contraseña' required>
                </div>
                <div class="d-grid gap-2 d-md-flex justify-content-md">
                    <button type="submit" class="btn btn-primary me-md-2">Ingresar</button>
                </div>
        </div>
        </form>
    </div>
</div>
</div>
{% endblock %}