{% extends "index.html"%}

{% block contenido %}

<h1 class="text-center">Información de todos los TV Show</h1>
<a class="d-grid gap-2 d-md-flex justify-content-md-end" href="/borrar_sesion">Cerrar sesión</a>
<hr class="border border-secondary border-2 opacity-50">

<h2>Bienvenido {{session["nombre_usuario"]}}!</h2>

<table class="table">
    <thead class="table-info">
        <tr>
            <td>Title</td>
            <td>Network</td>
            <td>Release Date</td>
            <td>Actions</td>
            <td>Like</td>
        </tr>
    </thead>

    <tbody>
        {% for show in lista_show: %}
        <tr>
            <td>{{show.title}}</td>
            <td>{{show.network}}</td>
            <td>{{show.release_date}}</td>
            <td>
                {% if show.usuario_id == session['id_usuario'] %}
                <a href="/ver/{{show.id}}">Ver</a>
                <a href="/editar/{{show.id}}">Editar</a>
                <a href="/eliminar/{{show.id}}">Eliminar</a>
                {% else %}
                <a href="/ver/{{show.id}}">Ver</a>
                {% endif %}
            </td>
            {% if show.usuario_id != session['id_usuario'] %}
                {% if not show.user_like : %}
                <td>
                    <a href="/like/{{show.id}}">Like</a>
                </td>
                {% else %}
                <td>
                    <a href="/unlike/{{show.id}}">Unlike</a>
                </td>
                {% endif %}
            {% else %}
                <td></td>
            {% endif %}
        </tr>

        {% endfor %}
    </tbody>
</table>

<div>
    <a href="/crear_show" class="btn btn-primary">Crea tu TV Show</a>
</div>
{% endblock %}